
.dialog-box {
    background-color: 	#C0C0C0;
    text-align: center;
    /* width: 50%; */
    
}
.dialog-content{
    width: 300px;
}

.mat-mdc-dialog-title{
    color: black;
    
}
mat-label {
    color: black;
}


.actions {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.mat-mdc-raised-button.action-button:hover {
    color: black;
   background-color: grey;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}