<div class="dialog-box">
    <h2 mat-dialog-title>Create New Record</h2>
    <mat-dialog-content class="content">
        <form [formGroup]="createForm" >

            <mat-form-field class="dialog-content" >
                <mat-label>Sensor Name</mat-label>
                <input matInput formControlName="sensor_name"   pattern="[a-ZA-Z0-9]*" name="sensor_name"  required>
                <mat-error  *ngIf="createForm.get('sensor_name')?.hasError('required')">This field is required</mat-error>
                <mat-error *ngIf="createForm.get('sensor_name')?.hasError('pattern')">Please enter only alphanumeric characters</mat-error>
            </mat-form-field>

            <br/>
            <mat-form-field class="dialog-content" >
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
                <mat-error *ngIf="createForm.get('description')?.hasError('pattern')">Please enter only alphanumeric characters</mat-error>
            </mat-form-field>

            <br/>     
            <mat-form-field class="dialog-content" >
                <mat-label>Unit</mat-label>
                <input matInput formControlName="unit"/>
            </mat-form-field>

            <br/>
            <div class="slider-toggle">
                <mat-label >Use in Optimization</mat-label>
                <mat-slide-toggle></mat-slide-toggle>
            </div>
            

            <br/><br/> 
            <mat-form-field class="dialog-content" >
                <mat-label>Current Value</mat-label>
                <input matInput type="number" formControlName="current_value"/>
            </mat-form-field>

            <br/>

            <br/>
            <mat-form-field class="dialog-content" >
                <mat-label>Operator Low</mat-label>

                <input matInput type="number" formControlName="operator_low" required/>
                <mat-error  *ngIf="createForm.get('operator_low')?.hasError('required')">This field is required</mat-error>
                <mat-error *ngIf="createForm.get('operator_low')?.hasError('invalidRange')"> invalidRange</mat-error>
            </mat-form-field>

            <br/>
            <mat-form-field class="dialog-content" >
                <mat-label>Operator High</mat-label>
                <input matInput type="number" formControlName="operator_high" required/>
                <mat-error  *ngIf="createForm.get('operator_high')?.hasError('required')">This field is required</mat-error>
                <mat-error *ngIf="createForm.get('operator_high')?.hasError('invalidRange') &&
                 (createForm.get('operator_high')?.dirty && createForm.get('operator_high')?.touched)">Should be greater than operator low</mat-error>

            </mat-form-field>

            <mat-form-field class="dialog-content" >
                <mat-label>Optimized Value</mat-label>
                <input matInput type="number" formControlName="optimized_value"/>
                <mat-error *ngIf="createForm.get('optimized_value')?.hasError('invalidRange')">Should be greater than Operator Low</mat-error>
                <mat-error *ngIf="createForm.get('optimized_value')?.hasError('falsy_value')">Should be less than Operator High</mat-error>

                </mat-form-field>
            

            <br/>
            
                <mat-label>Status</mat-label>
                <mat-radio-group formControlName="status">
                <span class="good-status-button">
                    <mat-radio-button  value="true">Good</mat-radio-button>
                </span>
                <span class="bad-status-button">
                    <mat-radio-button value="false">Bad</mat-radio-button>
                </span>
            </mat-radio-group>
           
            
        </form>
    </mat-dialog-content>
    <mat-dialog-actions class="actions">
        <button class="action-button"mat-raised-button (click)="onCancelClick()">Cancel</button>
        <button  class="action-button"mat-raised-button [disabled]="createForm.invalid || createForm.hasError('rangeError')"(click)="onSaveClick()">Save</button>
    </mat-dialog-actions>
</div>
    