table{
    width: 100%;
    background-color: #121212; 
    table-layout: fixed;
}
h1 {
    margin-left: 10px;
    color: #FFFFFF;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
td {
    color: white;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    font-weight: 400;
    font-family: "Noto Sans", sans-serif;
}

.mat-mdc-header-cell {
    color: #FFFFFF;
       
}

.mat-mdc-header-row  {
    background-color: 	#414141;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
   
}

th {
    border-right: 1px solid grey;
}
  
/* .mat-mdc-text-field-wrapper.paginator {
    border: 1px solid red;
} */

 
.mat-mdc-slide-toggle {
    background-color: grey;
    border-radius: 50px;
    height: 20px;
    width: 35px;
}

.row-color-false {
    .mat-mdc-cell{
        color: #717171;
    }
}

.green-text {
    color: #02A783;
}
.orange-text {
    color: #E87516;
}
.grey-text {
    color: grey;
}
.class1{
    color: #02A783;
    transform: scale(0.7);
    vertical-align: middle;
}
.class2{
    color: #f3a90b;
    transform: scale(0.7);
    vertical-align: middle;
}

.header{
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-between;
    margin-right:0;
}

.actions-top {
   
    margin: 0;
    padding: 10px 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.add-button, .edit-button, .cancel-button, .submit-button {
    margin-top: 15px;
    margin-right:10px;
    padding:10px 30px 10px 30px;
    cursor: pointer;

   
}

.mat-mdc-raised-button.add-button{
    margin-right:10px;
    color: white;
   border: 2px solid grey;
   background-color: #292929;
}
.mat-mdc-raised-button.edit-button, .mat-mdc-raised-button.cancel-button{
   
    color: white;
   border: 2px solid grey;
   background-color: #292929;
}
.mat-mdc-raised-button.cancel-button {
    padding:10px 30px 10px 30px;
    color: white;
    border: 2px solid grey;
    background-color: #292929;
}
.mat-mdc-raised-button.submit-button{
   margin-right: 10px;
   padding:10px 30px 10px 30px;
    color: white;
   border: 2px solid grey;
   background-color: #147D64;
}
.mat-mdc-raised-button.submit-button:disabled{
    background-color: grey;
    color: #414141;
}
.mat-mdc-raised-button.add-button:hover, .mat-mdc-raised-button.edit-button:hover{
   
    color: black;
   border: 2px solid black;
   background-color: grey;
}

.mat-mdc-slide-toggle {
    --mdc-switch-selected-handle-color: #121212;
    --mdc-switch-unselected-handle-color: #121212;
    --mdc-switch-selected-hover-handle-color: #121212;
    --mdc-switch-selected-pressed-handle-color: #121212;
    --mdc-switch-selected-focus-handle-color: #121212;
}
.slider-toggle{
    

    .mat-mdc-slide-toggle[_ngcontent-ng-c1361348047]{
        background-color: transparent;
    }
    .mdc-switch.mdc-switch:disabled .mdc-switch__icon{
        fill:none;
        border:none;
        color:#121212;
        
    }
    
    .mat-mdc-slide-toggle .mdc-form-field{
        
        background:grey;
        border-radius: 50px;
        width: 35px;
    }
    
    .mdc-switch:enabled .mdc-switch__track::after{
        background: #02A783 !important;
    
    }
    .mdc-switch:enabled .mdc-switch__track::before{
        background: grey !important;
    
    }
    
    .mdc-switch{
        --mdc-switch-handle-height: 12px;
        --mdc-switch-handle-width: 12px;
    }
    .mdc-switch__icon:hover{
       transform: none;
        
    }
    .mdc-switch.mdc-switch:enabled .mdc-switch__icon{
        fill: none;
       
    }
}

.slider-toggle:hover {
    transform:scale(1);
    
}

.edit-box {
    padding: 10px;
    margin: 0;
    background-color: #121212;
    box-sizing: border-box;
    border: 2px solid grey;
    color: #FFFFFF;
    height: 35px;
    width: 100%; 
    border-radius: 5px;
}

.error{
    .cdk-text-field-autofill-monitored:not(:-webkit-autofill){
        /* .mat-mdc-input-element{ */
        /* border-color:2px solid red; */
        background-color:#feeaee;
        color: #e16e75;
    }
}


input.mat-raised-button.mat-primary{
    background-color: black;
    color: white;
}

.header{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.mat-mdc-form-field.mat-warn::selected{
    color: white;
}


/* ::ng-deep.paginator-additional{

    .mat-mdc-paginator-icon:disabled {
        fill: red !important;
    }
    
} */
:host ::ng-deep.paginator-additional{

    .mat-mdc-paginator-icon {
        fill: #FFFFFF ;

    }

    
  
    
}


.paginator {
    color: #FFFFFF;

    .mat-mdc-form-field {
        /* border-right: 1px solid #414141;
        border-left: 1px solid #414141;
        border-top: 1px solid #414141; */
        border-bottom: 1px solid white;
        
        
    }
    .mat-mdc-select-arrow svg{
        fill: lightgrey;
    }
    .mat-mdc-paginator-container{
         display: flex;
        justify-content: start;
        
        
        .mat-mdc-paginator-range-actions.button{

            /* width: 100%; 
            flex-grow: 8;
           display: flex;
            justify-content: start; */
        }

        
    }


}
    


::ng-deep .mat-mdc-paginator-page-size-label{
    color:#FFFFFF;
    
}

::ng-deep .mat-mdc-paginator-outer-container {
    background-color: #414141;
    color: #FFFFFF;

    .mat-mdc-paginator-range-label{
        background-color: green;
    }
}

::ng-deep .mat-mdc-paginator-outer-container {
    background-color: #414141; 
    display: flex;
    /* background-color: green; */
    color: #121212;
    width: 100%;
}

.mat-mdc-paginator-container {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: flex-end; */
    /* justify-content: space-between; */
    padding: 10px;
    flex-wrap: wrap;
    width: 100%;

}


.red-border{
    border-color: red;
}


/* .mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
    .mat-mdc-select{
        color: white;
    }
  } */

  .disabled-input{
    border: 2px solid #717171;
    color: #717171;

  }

  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


