table{
    width: 100%;
    background-color: #121212; 
}
h1 {
    margin-left: 10px;
    color: #FFFFFF;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
td {
    color: white;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    font-weight: 400;
    font-family: "Noto Sans", sans-serif;
}

.mat-mdc-header-cell {
    color: #FFFFFF;
       
}

.mat-mdc-header-row  {
    background-color: 	#414141;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
   
}

th {
    border-right: 1px solid grey;
}
  
/* .mat-mdc-text-field-wrapper.paginator {
    border: 1px solid red;
} */

 
.mat-mdc-slide-toggle {
    background-color: grey;
    border-radius: 50px;
    height: 20px;
    width: 35px;
}

.row-color-false {
    .mat-mdc-cell{
        color: #717171;
    }
}

.green-text {
    color: #02A783;
}
.orange-text {
    color: #E87516;
}
.class1{
    color: #02A783;
    transform: scale(0.7);
    vertical-align: middle;
}
.class2{
    color: #f3a90b;
    transform: scale(0.7);
    vertical-align: middle;
}

.header{
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-between;
}

.actions-top {
    margin-top: 8px;
    margin-right: 10px;   
    padding:20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.add-button, .edit-button, .submit-button, .cancel-button {
    padding:10px 30px 10px 30px;
   
}
 /* .mat-mdc-button-touch-target{
    margin-right:10px;
     color: white;
    border: 1px solid grey;
    background-color: black;
} */
.mat-mdc-raised-button.add-button{
    margin-right:10px;
    color: white;
   border: 2px solid grey;
   background-color: #292929;
}
.mat-mdc-raised-button.edit-button, .mat-mdc-raised-button.cancel-button{
   
    color: white;
   border: 2px solid grey;
   background-color: #292929;
}
.mat-mdc-raised-button.submit-button{
    margin-right:10px;
    color: white;
   border: 2px solid grey;
   background-color: #147D64;
}
.mat-mdc-raised-button.add-button:hover, .mat-mdc-raised-button.edit-button:hover{
   
    color: black;
   border: 2px solid black;
   background-color: grey;
}

.slider-background{
    .mat-mdc-slide-toggle {
        background-color: #02A783;
          
      }
}

.edit-box {
    padding: 10px;
    margin: 0;
    background-color: #121212;
    box-sizing: border-box;
    border: 2px solid grey;
    color: #FFFFFF;
    height: 35px;
    width: 100%; 
    border-radius: 5px;
    
}

  input.mat-raised-button.mat-primary{
    background-color: black;
    color: white;
}

.header{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.mat-mdc-form-field.mat-warn::selected{
    color: white;
}




::ng-deep .mat-mdc-text-field-wrapper {
    border-width: 0;
    
}

::ng-deep .mat-mdc-paginator-outer-container {
    background-color: aqua;
    color: red;
}
::ng-deep .mat-mdc-icon-button.mat-mdc-button-base{
    color: red;
}
::ng-deep .mat-mdc-icon-button[disabled]{
    color: red;
}