table{
    width: 100%;
    background-color: black;
    
    
}
h1 {
    color: white;
}
td {
    color: white;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}

.mat-mdc-header-cell {
    color: white;   
}

.mat-mdc-header-row  {
    background-color: 	#636363;
   
}

th {
    border-right: 1px solid grey;
}
  
mat-paginator{
    background-color: aqua;
    color: white;
}
mat-mdc-paginator-icon {
	fill: #ff00008a !important;
}
mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon {
	fill: #ff00001f !important;
}

 
.mat-mdc-slide-toggle {
    background-color: grey;
    border-radius: 50px;
    height: 20px;
    width: 35px;
}


.class1{
    color: green;
    transform: scale(0.7);
    vertical-align: middle;
}
.class2{
    color: red;
    transform: scale(0.7);
    vertical-align: middle;
}

.header{
    display: flex;
    flex-direction:row-reverse;
}

button {
    flex: 0 0 auto;
    margin-left: 10px; /* Add space between the buttons */
    background-color: aqua;
    
  }

  input.mat-raised-button.mat-primary{
    background-color: black;
    color: white;
}

.header{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}



/* .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb:before,
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb:after {
  display: none !important;
} */

/* .mdc-switch.mdc-switch--unselected .mdc-switch__icon{
    display: none !important;
}
path {
    display: none !important;

}

.mdc-switch__icon{
    display:none;
} */