
<div class="header">
  <h1>Manipulated Variables</h1>
  <div class="actions-top">
    <button class="add-button" mat-raised-button *ngIf="!index && !flag2 && !submitFlag" (click)="openCreateDialog()" >Add</button>
    <button class="edit-button" mat-raised-button *ngIf="!flag2 && !submitFlag" (click)="editButtonClicked()">Edit</button>

    <button class="submit-button" mat-raised-button *ngIf="flag2 && submitFlag" (click)="submitClicked()"  [disabled]="!inputcheck || !rowclick" >Submit</button>
  <button class="cancel-button"mat-raised-button *ngIf="flag2 && submitFlag" (click)="cancelButtonClicked()" >Cancel</button>

  </div>
</div>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matRowClick)="onRowClicked($event)">
  <ng-container matColumnDef="sensor_name">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Sensor Name  </th>
    <td mat-cell *matCellDef="let element" > {{element.sensor_name}} </td>
  </ng-container>
  <hr>

  <ng-container matColumnDef="description" >
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="unit">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Unit </th>
    <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
  </ng-container>

  <ng-container matColumnDef="use_in_optimization">
    <th mat-header-cell *matHeaderCellDef> Use in Optimization </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'slider-background': flag2 && element.use_in_optimization}" >

        <mat-slide-toggle
          size="small"
          color="primary"
          [checked]="element.use_in_optimization"
          [disabled]="!flag2"
          (change) = "onToggleChange(element, $event)">

      </mat-slide-toggle>

       </td>
  </ng-container>
  

  <ng-container matColumnDef="current_value">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Value 
     
    </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'green-text': element.use_in_optimization}"> {{element.current_value}} </td>
  </ng-container>

  <ng-container matColumnDef="optimized_value">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Optimized value </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'orange-text': element.optimized_value === element.operator_low || element.optimized_value === element.operator_high}"> {{element.optimized_value}} </td>
  </ng-container>

  
  <ng-container matColumnDef="operator_low">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Operator Low</th>
    <td mat-cell *matCellDef="let element" >


      <div [ngClass]="test(element) && true ? 'error': ''" >
        <div [ngSwitch]="editflag">

          <div *ngSwitchCase="false">
            <span  [ngClass]="{'orange-text': element.optimized_value === element.operator_low || element.optimized_value === element.operator_high}" >{{element.operator_low}}</span>
          </div>

          <div *ngSwitchCase="true">
            <div [ngSwitch]="element.use_in_optimization" >
              <input type="number" *ngSwitchCase="true" class="edit-box"  matInput [value]="element.operator_low" 
              [(ngModel)]="element.operator_low" placeholder="" (input)="validateInput(element)">

              <input type="number" [ngClass]="{'disabled-input':true}" *ngSwitchCase="false" [disabled]="true" class="edit-box"  matInput [value]="element.operator_low" 
              [(ngModel)]="element.operator_low" placeholder="">
            </div>
            </div>
          </div>
        </div>
        

    </td>
  </ng-container>

  <ng-container matColumnDef="operator_high">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Operator High </th>
    <td mat-cell *matCellDef="let element">

  <div [ngClass]="test(element) && true ? 'error': ''">
    <div [ngSwitch]="editflag">

      <div *ngSwitchCase="false">
        <span  [ngClass]="{'orange-text': element.optimized_value === element.operator_low || element.optimized_value === element.operator_high}" >{{element.operator_high}}</span>
      </div>

      <div *ngSwitchCase="true">
        <div [ngSwitch]="element.use_in_optimization" >
          <input type="number" *ngSwitchCase="true" class="edit-box"  matInput [value]="element.operator_high" 
          [(ngModel)]="element.operator_high" placeholder="" (input)="validateInput(element)">

          <input type="number" [ngClass]="{'disabled-input':true}" *ngSwitchCase="false" [disabled]="true" class="edit-box"  matInput [value]="element.operator_high" 
          [(ngModel)]="element.operator_high" placeholder="">
        </div>
        </div>
      </div>
    </div>

  </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status </th>
    <td mat-cell *matCellDef="let element">
      
      <mat-icon [ngClass]="element.status==true? 'class1': 'class2'">circle</mat-icon>
         {{element.status?'Good':'Bad'}} </td>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)" [ngClass]="!row.use_in_optimization && true ? 'row-color-false': '' "></tr>


</table>

<div class="paginator-additional">
  <mat-paginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons aria-label="Select page " class="paginator" class="mat-paginator-sticky"></mat-paginator>
</div>


